footer.page-footer.page-footer_sticky
    .page-footer-top
        .page-footer-top__inner
            p.page-footer-top__copyright &copy; Интернет-магазин детских товаров «Всё для крохи», 2011-2013
    include partials/b-footer-nav/1
