head
    meta(charset="UTF-8")
    title Document

    //- meta(name="viewport" content="width=device-width, initial-scale=1")
    meta(name="viewport" content="width=600")

    link(rel='stylesheet', href='lib-bower/nouislider/distribute/jquery.nouislider.min.css')
    link(rel='stylesheet', href='lib-bower/nouislider/distribute/jquery.nouislider.pips.min.css')
    link(rel='stylesheet', href='lib-bower/bootstrap-select/dist/css/bootstrap-select.css')

    link(rel="stylesheet", href="css/main.css")

    script(src='lib-bower/jquery/dist/jquery.min.js')