header.page-header
    include ../includes/partials/header-menu/1


    a.page-header__side-menu-link.side-menu-link.js-side-menu-link.left-off-canvas-toggle(href="#" title="Показать меню")
    .page-header__title Главная
