.block-contacts
    .b-footer
        span.icon-wr
            span.sprite-phone-xs
        .b-footer__title
            | Свяжитесь с нами:
        .b-footer__content
            span.phone +7 (499) 372-04-83
            span.phone +7 (499) 372-04-83
    .b-footer
        span.icon-wr
            span.sprite-alarm
        .b-footer__title
            | Мы работаем:
        .b-footer__content
            ul.b-footer__work
                li 
                    span.day пн - пт: 
                    | 10:00 - 18:00
                li 
                    span.day сб - вс: 
                    |  Выходной
    .b-footer
        span.icon-wr
            span.sprite-credit-card
        .b-footer__title
            | Принимаем к оплате:
        .b-footer__content
            .b-footer__cards
                span.sprite-visa(href="#")
                span.sprite-mastercard(href="#")
    .b-footer
        span.icon-wr
            span.sprite-globe-sm
        .b-footer__title
            | Мы в социальных сетях:
        .b-footer__content
            ul.socials-1.b-footer__socials
                li
                    a(href="#")
                        span.sprite-vk
                li
                    a(href="#")
                        span.sprite-ok
                li
                    a(href="#")
                        span.sprite-f
                li
                    a(href="#")
                        span.sprite-in
                li
                    a(href="#")
                        span.sprite-youtube