extends ./layouts/default

block content

    .page-content
        a.logo(href="#")

        .b-content

            - b_header.title = 'Как сделать заказ';
            - b_header.class = 'b-content__header';
            include includes/partials/b-header/3_1
            
            p Сделать покупку в интернет-магазине «Все для Крохи» очень просто! Процесс занимает считанные минуты, и не доставит хлопот!

            .b-icons
                .b-icons__item
                    .b-icons__figure
                        .b-icons__icon
                            img(src="images/b-icons/circle--ok.png")
                    .b-icons__content
                        .b-icons__title 1.Пожалуйста, выберите товар!
                        p Для поиска нужного продукта можно использовать каталог с логической структуризацией: раскрывающийся список находится в левой части экрана, или же вписать в поисковую строку название нужного товара. Поисковая строка находится под баннером в верхней части экрана.
                .b-icons__item
                    .b-icons__figure
                        .b-icons__icon
                            img(src="images/b-icons/shopping-cart--add.png")
                    .b-icons__content
                        .b-icons__title 2.Кладем товары в корзину!
                        p После того, как вы нашли нужную карточку с товаров, войдите в нее, выберите понравившийся вам цвет позиции, размер (если нужно) и нажмите кнопку «В корзину». После этого на экране появится всплывающее окно, где вы сможете выбрать продолжить ли покупки еще или же сразу оформить заказ. В корзину можно добавлять неограниченное количество товаров.
                .b-icons__item
                    .b-icons__figure
                        .b-icons__icon
                            img(src="images/b-icons/pen-3.png")
                    .b-icons__content
                        .b-icons__title 3.Оформляем заказ!
                        p Как только последний товар будет добавлен в корзину, следует нажать кнопку «Оформить заказ» и вы автоматически увидите черновик вашего заказа, который, если нужно, сможете отредактировать: изменить количество товара, отложить покупку отдельных позиций или отменить вовсе.
                        p Здесь же отражается стоимость каждой позиции и итоговая цена всей покупки.
                        p После этого еще раз нажимаете кнопку «Оформить заказ» и вводите контактные данные, необходимые для отправки/получения заказа без задержек и неточностей.
                .b-icons__item
                    .b-icons__figure
                        .b-icons__icon
                            img(src="images/b-icons/megaphone-.png")
                    .b-icons__content
                        .b-icons__title 4.Уточняем!
                        p Если какая-либо информация из вашего заказа вам непонятна или требует уточнений, вы можете прописать комментарий в поле «Дополнительная информация» и наш менеджер свяжется с вами в удобное для вас время. Также вы самостоятельно можете позвонить к нам, и наши консультанты будут рады вам помочь!

            a.btn-primary.pull-right(href="#") Оплатить покупку
            h2 Способы оплаты
            <p>Для удобства наших клиентов мы предлагаем 3 способа оплаты!</p>

            .b-icons
                .b-icons__item
                    .b-icons__figure
                        .b-icons__icon
                            img(src="images/b-icons/forma-1.png")
                    .b-icons__content
                        .b-icons__title 1. Оплата наличными при получении
                        p Наличный расчет возможен, как в случае доставки заказа курьером, так и при самостоятельном получении заказа в магазине. Оплата происходит по факту получения клиентом покупки и проверки комплектации, целостности товара, верного заполнения гарантийного талона.
                .b-icons__item
                    .b-icons__figure
                        .b-icons__icon
                            img(src="images/b-icons/document--ok.png")
                    .b-icons__content
                        .b-icons__title 2. Оплата по квитанции в банке
                        p Данный способ оплаты подразумевает заполнение стандартного бланка с указанием реквизитов платежа в выбранном отделении банка. Деньги со счета клиента поступают на расчётный счет магазина. Это и является свидетельством покупки. Период осуществления перевода регламентируется системой выбранного банка.
                .b-icons__item
                    .b-icons__figure
                        .b-icons__icon
                            img(src="images/b-icons/credit-card.png")
                    .b-icons__content
                        .b-icons__title 3. Оплата банковской картой
                        p Оплата покупки банковой картой является наиболее простым и удобным способом, так как предполагает моментальное осуществление перевода с минимальными комиссиями или без них.