extends ./layouts/default

block content

    .page-content
        a.logo(href="#")

        .b-content

            - b_header.title = 'Доставка';
            - b_header.class = 'b-content__header';
            include includes/partials/b-header/3_1

            .delivery
                h2 Доставка по Москве:
                ul
                    li При стоимости заказа свыше 2000 рублей доставка в пределах МКАД - БЕСПЛАТНО.
                    li
                        | Если сумма заказа ниже 2000 рублей, стоимость доставки по Москве составляет 350 рублей.
                    li Подъем товара до дверей квартиры осуществляется бесплатно, кроме:
                    ul
                        li Подъема крупногабаритного товара - 200 рублей, без лифта - 150 рублей за этаж.
                h2 Доставка за пределы МКАД:
                ul
                    li
                        | При стоимости заказа свыше 2000 рублей, стоимость доставки составляет +25 рублей за 1 км от МКАД.
                    li
                        | Если сумма заказа ниже 2000 рублей, стоимость доставки составляет 350 рублей + 25 рублей за 1 км от МКАД.
                    li Подъем товара до дверей квартиры осуществляется бесплатно, кроме:
                    ul
                        li Подъема крупногабаритного товара - 200 рублей, без лифта - 150 рублей за этаж.
                    ul
                h2 Доставка в регионы РФ:
                p
                    | В случае если покупка требует пересылки в регионы РФ, менеджер магазина самостоятельно находит оптимальный путь, курьерскую службу или же использует компанию, выбранную клиентом. Посылка отправляется по факту оплаты. Услуги доставки оплачиваются отдельно по факту получения посылки.
                .delivery__banner
                    | Магазин “Все для Крохи” работает более чем с 30 транспортными компаниями. 
                    br
                    | Мы подберем для Вас самые выгодные условия!
                p
                h3 Как узнать стоимость доставки до вашего города?
                p
                ul
                    li Посмотреть стоимость доставки в карточке товара. 
                       a(href='/upload/img/dostavka.jpg') Пример как это выглядит.
                    li Позвонить по бесплатному номеру 8 (800) 775-35-48.
                    li Оформите заказ на сайте. Вам перезвонят и сообщат стоимость доставки.
                    li
                        | Узнайте стоимость доставки задав вопрос в нашей группе 
                        a(href='http://vk.com/vsekroham', rel='nofollow', target='_blank') ВКонтакте
                        | .
                    li
                        | Рассчитать стоимость самостоятельно, на сайтах транспортных компаний.
                        br

