extends ./layouts/default

block content

    .page-content
        a.logo(href="#")

        .b-content

            - b_header.title = 'Сборка мебели';
            - b_header.class = 'b-content__header';
            include includes/partials/b-header/3_1

            p Магазин товаров для детей «Все для Крохи» не только предлагает огромный каталог товаров от лучших мировых производителей, но и широкий перечень сопутствующих услуг.
            p Так, при покупке мебели в магазине, вы можете заказать ее профессиональную сборку. Опытные монтажники на качественно высоком уровне выполнят весь спектр работ, обеспечив мебели желаемую прочность и надежность.
            h2 Стоимость услуги:
            .assembling__discount
                .discount
                    span 15%
                    p
                        | от стоимости мебели, 
                        br
                        |  если цена товара до 7000 рублей.
                .discount
                    span 10%
                    p
                        | от стоимости мебели, 
                        br
                        |  если цена товара превышает 7000 рублей.
            .assembling__form
                form(action='#')
                    h2 Вызвать сборщика
                    .form-group
                        label Имя:
                        input.form-control(type='text', placeholder='')
                    .form-group
                        label Телефон:
                        input.form-control(type='tel', placeholder='')
                    button(type='submit').btn-big.btn-primary Отправить
            p Монтаж и установка мебели любой сложности производится с использованием профессионального оборудования в предельно сжатые сроки в удобное для клиента время.
            p По факту выполнения работ, магазин «Все для Крохи» дает гарантию на выполненную работу.
