extends ./layouts/default

block content

    .page-content
        a.logo(href="#")

        .b-content

            - b_header.title = 'Гарантия и возврат';
            - b_header.class = 'b-content__header';
            include includes/partials/b-header/3_1

            .warranty
                p Магазин детских товаров «Все для Крохи» предлагает широкий перечень товаров от ведущих отечественных и мировых производителей. Нашими поставщиками являются только проверенные дистрибьюторы и официальные представительства торговых марок на территории РФ.Деятельность магазина «Все для Крохи» регламентируется законодательной базой РФ и законом.
                .text-center
                    a.btn-primary.warranty__button-return(href='#') Возврат товара
                .warranty__banner Наше взаимодействие с покупателями прозрачное и предельно честное!
                .warranty__inner
                    p Период и условия гарантийного обслуживания определяет производитель продукции и заявляет об этом в инструкции и гарантийном листе. Период гарантии может варьироваться в пределах от 14 дней до 3 лет. В случае если речь идет о продуктах личной гигиены, продуктах питания или сборной мебели – гарантийные обязательства производителя перед клиентом ограничиваются моментом нарушения герметичности упаковки / сборки мебели для эксплуатации.
                    ul.warranty-list
                        li.warranty-1 Возврат или замена продукции осуществляется в установленном порядке, который регламентирует Глава 2 ст. 18-26 закона РФ «О защите прав потребителей».
                        li.warranty-2 Возврат товара возможет в 14 дневный период с момента приобретения продукции, при условии наличия чека, сохранности товарного вида продукции, целостности ее упаковки и сопровождающей документации.
                        li.warranty-3 Собранная мебель возврату не подлежит.
                        li.warranty-4 В случае если поломку или дефект продукции нельзя определить визуально, компенсация стоимости товара или замена продукции на аналог будет осуществляться только после получения официального заключения от службы сервиса и технического обслуживания. Последняя осуществляет свою деятельность в рамках законодательной базе РФ.
                    p Многие товары магазина «Все для Крохи» имеют официальный сертификат соответствия нормам ЕС и Государственному стандарту. Если покупатель хочет получить копию свидетельства или сертификата к товару, он может запросить ее у менеджера во время приобретения товары.