extends ./layouts/default

block content

    .page-content
        a.logo(href="#")

        .b-content

            - b_header.title = 'Оптовикам';
            - b_header.class = 'b-content__header';
            include includes/partials/b-header/3_1

            .whosaler
                .whosaler__top
                    p Подпишитесь, что бы получать актуальные остатки, изображения товара, уникальные предложения от нашей компании.
                    form(name='', action='')
                        .form-group
                            label Наименование организации: 
                            input.form-control(type='text')
                        .form-group
                            label E-mail: 
                            input.form-control(type='email')
                        .form-group
                            label Телефон: 
                            input.form-control(type='text')
                        .form-group
                            label Имя:
                            input.form-control(type='text')
                        button(type='submit').btn-big.btn-primary Подписаться
                br
                .whosaler__banner
                    | Для связи с оптовым отделом обращайтесь по телефону: 
                    br
                    |       +7 (499) 372-04-97 или пишите 
                    a(href='mailto:optom@vsekroham.ru') optom@vsekroham.ru
                .whosaler__inner
                    p
                        | «Все для Крохи» является надежным партнером, который выполняет взятые на себя обязательства. Мы всегда открыты для конструктивного диалога и поиска наиболее выгодных способов построения партнерства для обеих сторон.
                    p
                        | Магазин детских товаров гарантирует индивидуальный подход, гибкую систему скидок и начислений, удобные и простые условия оплаты.
                    p
                        | На сегодняшний день, «Все для Крохи» является эксклюзивным дистрибьютором ряда популярных брендов, поэтому во многом влияет на ценообразование. Сотрудничество с нами позволит исключить звено посредников и осуществлять поставки на наиболее выгодных условиях.
                    h2 «Все для Крохи» гарантирует:
                    ul.whosaler__custom
                        li.whosaler__custom-1 Профессиональный подход.
                        li.whosaler__custom-2 Выполнение всех договоренностей с клиентом.
                        li.whosaler__custom-3 Широкий ассортимент по доступным ценам.
                        li.whosaler__custom-4 Демократичное ведение переговоров на любом этапе.
                        li.whosaler__custom-5 Прозрачные условия поставок и оплаты.
                    h2 Почему с нами выгодно и удобно работать:
                    ul.custom
                        li
                            | Мы предлагаем детские товары оптом по низким ценам, вся наша продукция имеет сертификаты качества и соответствует всем санитарным нормам;
                        li
                            | Товары поступают к нам напрямую от производителя, минуя всяческих посредников, потому мы предлагаем лучшие цены на товары;
                        li
                            | Мы принимаем оплату в любом удобном для клиента виде. Вы можете оплатить товар при получении или выполнить предоплату товара безналичным платежом сразу после осуществления заказа;
                        li
                            | Мы предлагаем существенные скидки на определенную группу детских товаров, которые изменяются в зависимости от объемов заказа;
                        li
                            | Мы гарантируем своевременную доставку товара, которая изначально прописывается в договоре;
                        li
                            | Заказанный товар вы можете вывезти самостоятельно с нашего склада. Также вы можете воспользоваться бесплатной доставкой товара в пределах Москвы по указанному адресу или в офис транспортной компании при условии, что общая стоимость заказанного товара превышает 65 тысяч рублей (в остальных случаях стоимость доставки составляет 500 рублей).
                        li
                            | К каждому оптовому покупателю прикрепляется персональный менеджер, который сопровождает все сделки (прием заказа, составление документов и выписка накладных, контроль над выполнением доставки и отгрузки, др.) и предоставляет консультации клиенту по ассортименту товаров, новым поставкам и другим возникающим вопросам на протяжении всего времени сотрудничества с нами.
