include callback
include choose-city
include thanks-for-comment
include pay-for-your-purchase
include purchase-returns
include pr-options
include secure-online-payments
include pr
include deliver
include pr-added-to-cart