#modal-pr.modal.fade.modal-pr(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.modal__close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h3#myModalLabel.modal-title Детская коляска Italia Andrea Vip
            .modal-body
                .slider-big
                    div
                        img(src="images/temp/45.jpg", alt="Скидка при покупке детской кроватки, матраса и постельного белья")
                    div
                        img(src="images/temp/45.jpg", alt="")
                    div
                        img(src="images/temp/45.jpg", alt="")
                .modal-pr__opts
                    .modal-pr__opts-inner
                        .modal-pr__price 38 900 р.
                        dl.modal-pr__opts-list
                            dt Цвет:
                            dd light-blue
            .modal-footer
                button(type='submit').modal__submit В корзину