#modal-secure-online-payments.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
    .modal-dialog(role='document')
        .modal-content
            .modal-header
                button.modal__close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') ×
                h3#myModalLabel.modal-title Безопасность онлайн платежей
            .modal-body
                p
                  | Предоставляемая Вами персональная информация (имя, адрес, телефон, e-mail, номер кредитной карты) является конфиденциальной и не подлежит разглашению. Данные Вашей кредитной карты передаются только в зашифрованном виде и не сохраняются на нашем Web-сервере.
                p
                  | Безопасность обработки Интернет-платежей гарантирует АО «Банк Русский Cтандарт». Все операции с платежными картами происходят в соответствии с   требованиями VISA International, MasterCard, American Express и других платежных систем. При передаче информации используются специальные технологии безопасности карточных онлайн-платежей, обработка данных ведется на безопасном высокотехнологичном сервере процессинговой компании.  В случаи использования регулярных платежей, при совершении первой операции номер Вашей карты и срок действия будут сохранены на стороне Банка в безопасном хранилище. По факту выполнения или оказания услуг со стороны компании, данные будут удалены автоматически. Все ресурсы Банка соответствуют стандартам безопасности PCI DSS.
                p
                  | При проведении операции, Вы будете дополнительно перенаправлены на страницу Банка-Эмитента для ввода подтверждающего кода безопасности (в случае если банк, выпустивший Вашу карту, поддерживает технологию 3DSecure, и Ваша карта также поддерживает данную программу).
                p
                  | 3D Secure – процедура дополнительной аутентификации держателя карты, предназначенная для обеспечения гарантированной безопасности платежей по банковским картам в Сети Интернет.
                p
                  | Технологическое решение 3D Secure имеет свой собственный бренд в каждой из платежных систем:
                ul
                  li Verified by Visa – по картам платежной системы Visa Int.
                  li MasterCard Secure Code – по картам, выпущенным в рамках MasterCard Int
                  li SafeKey и JSecure – платежная система American Express и JCB соответственно.
                p
                  | В независимости от названия, технология 3D Secure предполагает защищенную сессию при проведении интернет-транзакции и позволяет пользователям-держателям карты, подтвердить правомерность операции для Банка выпустивший карту.
                p
                  | В случае возникновения вопросов по поводу данной конфиденциальности предоставляемой Вами информации, Вы можете связаться с АО «Банк Русский Cтандарт» по телефону: 8 (800) 200-6-200.
            .modal-footer
                button(type='submit' data-dismiss='modal').modal__dismiss Закрыть