ul.b-footer-nav
    li.b-footer-nav__item
        a(href="#").b-footer-nav__link
            span.icon.sprite-tags
            | Каталог
    li.b-footer-nav__item
        a(href="#").b-footer-nav__link
            span.icon.sprite-equalizer
            | Фильтр
    li.b-footer-nav__item
        a(href="#").b-footer-nav__link
            span.icon.sprite-phone
            | Позвонить