.slider-default
    div
        img(src="images/temp/slider-img.jpg", alt="Скидка при покупке детской кроватки, матраса и постельного белья")
    div
        img(src="images/temp/slider-img.jpg", alt="")
    div
        img(src="images/temp/slider-img.jpg", alt="")