div(class='#{b_header.class} b-header b-header_mod-1')
    .b-header__view.b-header-view
        a.b-header-view__link.sprite-four-lines(href="#" title="Списком")
        a.b-header-view__link.sprite-grid-2(href="#" title="Плиткой")
    a(href="#").b-header__back.b-back
    .b-header__title
        span
            | #{b_header.title || 'Спецпредложения'}