a(href="javascript:void(0)" class='#{b_header.class} b-header b-header_mod-1 b-header_toggle js-toogle')
    span(class="b-header__icon #{b_header.icon}")
    .b-header__title
        span
            | #{b_header.title || 'Тайтл'}