@import "../../bower_components/susy/sass/susy";
@import "../../bower_components/slick.js/slick/slick";
// @import "../../bower_components/bootstrap-sass/assets/stylesheets/_bootstrap";
@import 'utilities/index';
@import 'base/index';
@import 'layout/index';
@import 'modules/index';
.logo {
    display: block;
    margin: 0 auto 33px;
    @include sprite($sprite-logo);
}

.block-contacts {
    // @include container;
    @extend .clearfix;
    padding: $page-padding;
}

.page-footer {}

.page-footer-top {
    height: $page-footer-top;
    &__inner {
        @extend .clearfix;
        padding: $page-padding;
    }
    background-color: #92ba26;
    padding-top: 11px;
    &__copyright {
        margin: 0;
        opacity: 0.57;
        color: white;
    }
}

@include sticky-footer($page-footer-top);
.has-b-footer-nav {
    #main .root-footer {
        height: $page-footer-top + $b-footer-nav;
    }
    .left-off-canvas-menu {
        bottom: -$b-footer-nav;
    }
}

.b-footer-nav {
    width: 100%;
    height: $b-footer-nav;
    background-color: #58c4f7;
    box-shadow: 0 1px 6px rgba(0, 0, 0, 0.4);
    @include list-reset;
    display: table;
    table-layout: fixed;
    &__item {
        display: table-cell;
        padding: 14px 0;
        vertical-align: middle;
    }
    &__link {
        display: block;
        height: $b-footer-nav - 28px;
        padding: 6px 0;
        border-left: 1px solid #37b8f5;
        text-align: center;
        font-size: 34px;
        font-weight: 400;
        color: #fff;
        .icon {
            margin-right: 15px;
        }
        &:hover {
            color: #fff;
            text-decoration: none;
        }
    }
    &:first-child > * {
        border-left: none;
    }
}

.side-menu {
    ul {
        @include list-reset;
    }
    ul ul {
        display: none;
    }
    li li {
        background: #0d6d9a;
        a {
            padding-left: 115px;
            // text-transform: none;
        }
    }
    li li li {
        background: #0f7eb2;
        a {
            padding-left: 115px;
            text-transform: none;
        }
    }
    a {
        display: block;
        padding: 26px 20px 21px 20px;
        font-size: 28px;
        font-weight: 400;
        color: #fff;
        text-transform: uppercase;
        &:hover {
            text-decoration: none;
            opacity: .8;
        }
    }
    .icon {
        margin-right: 26px;
    }
}

.b-stars {
    width: 161px;
    height: 29px;
    background: url(../images/stars.png) 0 0 no-repeat;
    &-1 {
        background-position: 0 -29px;
    }
    &-2 {
        background-position: 0 -29px * 2;
    }
    &-3 {
        background-position: 0 -29px * 3;
    }
    &-4 {
        background-position: 0 -29px * 4;
    }
    &-5 {
        background-position: 0 -29px * 5;
    }
}

.b-stars-1 {
    width: 161px;
    height: 20px;
    a {
        float: left;
        display: block;
        margin: 0 1px;
        @include sprite($sprite-star);
        &:focus {
            outline: none;
        }
    }
    .active,
    .star-hover-active {
        @include sprite($sprite-star-h);
    }
    .star-hover {
        @include sprite($sprite-star);
    }
}

.b-stars-big {
    width: 161px;
    height: 29px;
    background: url(../images/stars.png) 0 0 no-repeat;
    &-1 {
        background-position: 0 -29px;
    }
    &-2 {
        background-position: 0 -29px * 2;
    }
    &-3 {
        background-position: 0 -29px * 3;
    }
    &-4 {
        background-position: 0 -29px * 4;
    }
    &-5 {
        background-position: 0 -29px * 5;
    }
}

.b-steps {
    padding: 50px 0 33px;
    text-align: center;
}

.b-step {
    position: relative;
    display: inline-block;
    width: 91px;
    height: 91px;
    margin-left: 85px;
    font-size: 60px;
    font-weight: 400;
    color: #817f7d;
    border: 11px solid #f3f2f2;
    border-radius: 50%;
    text-align: center;
    line-height: 74px;
    background-color: #e2e2e2;
    span {}
    &:after {
        content: " ";
        display: block;
        position: absolute;
        left: -12px;
        top: -12px;
        width: 92px;
        height: 92px;
        border: 1px solid #e5e3e3;
        border-radius: 50%;
    }
    &:before {
        content: " ";
        display: block;
        position: absolute;
        left: -91px;
        top: 50%;
        width: 71px;
        height: 12px;
        margin-top: -6px;
        background-color: #f3f2f2;
        border: 1px solid #e5e3e3;
        border-radius: 10px;
    }
    &:first-child {
        margin-left: 0;
        &:before {
            display: none;
        }
    }
    &.active {
        color: #fff;
        background-color: $color-blue;
    }
}

.b-sity-change {
    position: relative;
    margin-bottom: 40px;
    font-size: 34px;
    &__title {
        display: inline-block;
        margin-right: 10px;
        color: #010101;
    }
    &__sity {}
    &:before {
        content: " ";
        display: inline-block;
        margin-right: 10px;
        margin-top: 5px;
        @include sprite($sprite-pin-1);
    }
}

.sity-change {
    font-size: $title-size;
    &__title {
        display: inline-block;
    }
    &__sity {
        display: inline-block;
        padding-left: 10px;
        color: #000;
    }
    &__change {
        @extend .text-link;
        float: right;
    }
    &__control {
        display: none;
        // @extend .form-control;
        width: 250px;
        & + .select2 {
            .select2-selection--single {
                border-radius: 0;
                height: 40px;
                padding-top: 5px;
            }
        }
    }
    &.active &__sity {
        display: none;
    }
}

.b-checkers {
    margin-bottom: 24px;
}

.b-checker {
    margin-bottom: 18px;
    cursor: pointer;
    &__check {
        float: left;
        width: 58px;
        height: 58px;
        margin-right: 24px;
    }
    &__label {
        pointer-events: none;
    }
    &__content {
        position: relative;
        overflow: hidden;
        padding-bottom: 16px;
        border-bottom: 1px solid #e5e3e3;
        // color: #908f8f;
        font-size: 21px;
    }
    &__title {
        color: black;
        font-size: 30px;
        line-height: 30px;
    }
    &__text {}
    &__days {
        position: absolute;
        right: 2px;
        bottom: 5px;
        color: #08a7f2;
        font-size: 30px;
        font-weight: 400;
    }
    &_simple {}
    &_simple &__title {
        position: relative;
        overflow: hidden;
        height: 58px;
        padding-top: 10px;
        padding-bottom: 16px;
        border-bottom: $border;
        font-size: 21px;
    }
}

.total-summ {
    @extend .clearfix;
    margin-bottom: 20px;
    &__title {
        color: black;
        float: left;
        font-size: 30px;
        padding-top: 20px;
    }
    &__price {
        float: right;
        color: $color-blue;
        font-size: 60px;
        font-weight: 400;
    }
}

.b-block-1 {
    margin-bottom: 46px;
    border: $border;
    border-radius: 6px;
    &__item {
        font-size: 21px;
        color: #908f8f;
        padding: 28px;
        border-top: $border;
        @extend .clearfix;
        &:first-child {
            border-top: none;
        }
    }
    &__icon {
        position: relative;
        float: left;
        width: 91px;
        height: 91px;
        margin-right: 31px;
        background-color: #f3f2f2;
        border: 1px solid #e5e3e3;
        border-radius: 50%;
        span {
            @include middle;
        }
    }
    &__content {
        overflow: hidden;
    }
    &__title {
        color: $color-blue;
        font-size: 24px;
    }
    &__text {}
    .link-mailto,
    .link-tel {
        color: #908f8f;
    }
}

.b-block-2 {
    margin-bottom: 48px;
    padding: 25px;
    background-color: #f9f9f9;
    border: 1px solid #e5e3e3;
    border-radius: 8px;
    &__title {
        margin-bottom: 22px;
        color: #202020;
        font-size: 24px;
    }
    &__img {
        margin-bottom: 20px;
        position: relative;
        img {
            display: block;
            width: 100%;
        }
    }
    &__tel {
        position: absolute;
        z-index: 1;
        right: 0;
        bottom: 0;
        padding: 24px 0 0 75px;
        width: 310px;
        height: 88px;
        background-color: #01a8f6;
        border-radius: 4px 0 4px 0;
        color: #fff;
        font-size: 30px;
        font-weight: 400;
        a {
            color: #fff;
        }
        &:before {
            content: " ";
            display: block;
            width: 39px;
            height: 39px;
            position: absolute;
            left: 24px;
            top: 24px;
            background: #fff;
            border-radius: 50%;
        }
        &:after {
            content: " ";
            display: block;
            width: 39px;
            height: 39px;
            position: absolute;
            left: 32px;
            top: 29px;
            @include sprite($sprite-phone-sm-blue);
        }
    }
    &__list {
        @include list-reset;
        .icon {
            margin-right: 10px;
        }
    }
}

.product {
    &__stars {
        display: inline-block;
        vertical-align: middle;
    }
    &__comments {
        display: inline-block;
        margin-left: 20px;
        vertical-align: middle;
    }
    &__size {
        height: 64px;
        margin-bottom: 48px;
    }
    &__order {
        @extend .clearfix;
        margin-bottom: 48px;
    }
    &__price-old {
        display: inline-block;
        vertical-align: middle;
        color: #908f8f;
        font-size: 36px;
        padding-top: 15px;
        font-weight: 400;
        text-decoration: line-through;
    }
    &__price-wrapper {
        @include span(2);
    }
    &__price {
        display: inline-block;
        vertical-align: middle;
        color: $color-blue;
        font-size: 60px;
        padding-top: 5px;
        font-weight: 400;
    }
    &__button {
        @extend .btn-primary;
        @extend .btn-lg;
        @include span(2 last);
        font-size: 34px;
        font-weight: 400;
    }
    &__delivery {
        margin-bottom: 48px;
    }
    &__comments-take {
        text-align: right;
    }
    &__goods {
        .b-g:last-child {
            margin-bottom: 0;
        }
    }
}

.b-colors {
    border: $border;
    border-radius: 6px;
    &__header {
        display: block;
        height: 88px;
        background-color: #e2e2e2;
        border: $border;
        border-radius: 6px;
        text-align: center;
        &:hover {
            text-decoration: none;
        }
    }
    &__title {
        padding-top: 20px;
        color: #777;
        font-size: 34px;
        font-weight: 400;
    }
    &__icon {
        position: relative;
        float: left;
        margin-top: 12px;
        margin-left: 12px;
        width: 63px;
        height: 63px;
        background-color: #e2e2e2;
        border: 1px solid #d2d1d1;
        border-radius: 6px;
        &:before {
            @include middle;
            @include sprite($sprite-bottom-gray-1);
        }
    }
    &__content {
        @extend .clearfix;
        padding: 24px;
    }
    &__header.active &__icon:before {
        @include sprite($sprite-top-gray-1);
    }
}

.b-color {
    @include span(1.333333);
    &:last-child {
        @include span(1.333333 last);
    }
    &:first-child {
        @include span(1.333333);
    }
    &__img {
        background-color: #fff;
        border: $border;
        position: relative;
        border-radius: 6px;
        // padding-top: 100%;
        width: 156px;
        height: 156px;
        height: 0;
        display: table-cell;
        text-align: center;
        img {
            vertical-align: middle;
        }
    }
    &__title {
        color: #777;
        font-size: 30px;
        font-weight: 400;
    }
}

.b-size {
    &__item {
        @include span(1);
        &:last-child {
            @include span(1 last);
        }
    }
}

.b-delivery {
    padding: 30px;
    background-color: whitesmoke;
    border: $border;
    border-radius: 6px;
    &__label {
        display: inline-block;
        margin-bottom: 20px;
        font-size: 24px;
        color: #908f8f;
    }
    &__input {
        display: inline-block;
        input {
            border: none;
            color: #010101;
            background: none;
        }
    }
    &__img {
        display: inline-block;
        vertical-align: middle;
    }
    &__info {
        display: inline-block;
    }
    &__info-title {
        color: #010101;
    }
    &__price {
        color: $color-blue;
        font-weight: 500;
    }
    &__days {}
    &__more {
        display: block;
        font-style: italic;
        text-decoration: underline;
    }
}

.b-tabs {
    margin-top: 48px;
    margin-bottom: 40px;
    .nav-tabs {
        @include list-reset;
        // background-color: #f8f8f8;
        // border: $border;
        li {
            &:first-child {
                margin-left: 29px;
            }
            a {
                white-space: nowrap;
                display: block;
                position: relative;
                z-index: 1;
                width: 195px;
                height: 66px;
                padding-top: 23px;
                margin: 0 10px 0 0;
                border: 1px #05a6f2 solid;
                background-color: #05a6f2;
                color: #fefefe;
                font-size: 15px;
                line-height: 21px;
                text-align: center;
                text-decoration: none;
                border-radius: 15px 15px 0 0;
                font-size: 30px;
                &:before, &:after {
                    content: '';
                    display: block;
                    height: 66px;
                    position: absolute;
                    top: -1px;
                    left: 0;
                    width: 100%;
                    bottom: 0;
                    z-index: -1;
                    background-color: #05a6f2;
                    border: 1px #05a6f2 solid;
                    border-radius: 10px 10px 0 0;
                    transform: skew(25deg);
                }
                &:before {
                    left: 20px;
                }
                &:after {
                    transform: skew(-25deg);
                    right: 15px;
                    left: auto;
                }
            }
            &.active a {
                background-color: #f8f8f8;
                border: 1px #eeecec solid;
                color: #010101;
                z-index: 2;
                &:before, &:after {
                    background-color: #f8f8f8;
                    border: 1px #eeecec solid;
                }
                &:before {
                    box-shadow: 3px 0 2px rgba(0, 0, 0, .05);
                }
                &:after {
                    border-right: 0;
                    border-radius: 10px 0 0 0;
                }
            }
        }
    }
    &__tab-pane {
        margin-bottom: 20px;
    }
}

.tab-pane {
    &__table {
        @extend .table;
        @extend .table-bordered;
        margin-bottom: 0;
        margin-top: -1px;
        td {
            padding: 20px !important;
        }
    }
    &__title {
        height: 88px;
        margin-top: -1px;
        background-color: #f8f8f8;
        padding: 25px 0 0 22px;
        border: 1px solid #e5e3e3;
        color: #010101;
        font-size: 30px;
    }
    &__content {
        border: $border;
        margin-top: -1px;
        padding: 24px;
        border-radius: 0 0 6px 6px;
    }
}

.product-description {
    &__title {
        color: #010101;
        font-size: 30px;
    }
}

ul.styled {
    margin-left: 30px;
    // color: $color-blue;
    li {
        color: #908f8f;
    }
}

.review {
    &__item {
        border: $border;
        border-top: none;
        &:first-child {
            border-top: $border;
        }
    }
    &__top {
        height: 88px;
        background-color: #f8f8f8;
        border-bottom: $border;
    }
    &__top-date {
        float: right;
        padding-top: 30px;
        margin-right: 20px;
        color: #908f8f;
        font-size: 21px;
    }
    &__name {
        display: table-cell;
        padding-left: 20px;
        vertical-align: middle;
        color: #010101;
        font-size: 30px;
    }
    &__avatar {
        position: relative;
        vertical-align: middle;
        width: 88px;
        height: 87px;
        display: table-cell;
        border-right: $border;
        text-align: center;
        img {
            vertical-align: middle;
            width: 51px;
            height: 49px;
        }
    }
    &__content {
        padding: 25px 24px 20px;
    }
    &__stars {
        margin-bottom: 20px;
    }
    &__utility {
        text-align: right;
    }
}

.review-utility {
    &__plus {
        display: inline-block;
        margin-right: 3px;
        color: #4fb501;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
    &__minus {
        display: inline-block;
        margin-right: 3px;
        color: #d10e22;
        text-decoration: none;
        &:hover {
            text-decoration: underline;
        }
    }
}

.review-text-block {
    @extend .clearfix;
    &__title {
        float: left;
        margin-right: 4px;
        color: black;
    }
    &__content {}
    &__title_mod_1 {
        float: none;
    }
}

.paginator {
    position: relative;
    padding: 14px 0;
    margin: 0 0 20px;
    border: $border;
    border-top: none;
    .paginator__list {
        @include list-reset;
    }
    .paginator__item {
        display: inline-block;
        @include list-reset;
        margin: 0 7px 0 0;
        background: none;
        font-size: 21px;
        line-height: 26px;
        text-align: center;
        text-decoration: none;
        .paginator__page {
            width: 28px;
            height: 28px;
            display: block;
            border: 1px #eeecec solid;
            color: #2a8bcb;
            text-decoration: none;
            &:hover, &.active_page {
                border: 1px #05a6f2 solid;
                background-color: #05a6f2;
                color: #fff;
                text-decoration: none;
            }
            &.paginator__page_type_prev,
            &.paginator__page_type_next {
                position: absolute;
                top: 15px;
                opacity: .5;
                &:hover {}
            }
            &.paginator__page_type_prev {
                left: 20px;
                @include sprite($sprite-left-gray-1);
            }
            &.paginator__page_type_next {
                right: 20px;
                @include sprite($sprite-right-gray-1);
            }
        }
    }
    &.paginator_type_light {
        @extend .clearfix;
        text-align: center;
        .paginator__item {
            margin: 0;
            line-height: 28px;
            .paginator__page {
                color: #000;
                border: 0;
                &:hover, &.active_page {
                    border: 0;
                    background-color: transparent;
                    color: $color-blue;
                    text-decoration: none;
                }
            }
        }
    }
}

.b-sort {
    margin-bottom: 48px;
    @extend .clearfix;
    .b-sort__button {
        padding: 18px 0;
        @extend .btn;
        @extend .btn-gray;
        @include span(2);
        &:last-child {
            @include span(2 last);
        }
    }
}

.show-more-button {
    @extend .btn;
    @extend .btn-lg;
    @extend .btn-gray;
    margin: 30px auto;
    display: block;
}

.comments-take {
    &__img {
        display: inline-block;
        vertical-align: baseline;
        margin: 0 5px;
    }
}

.my-review {
    &__inner {
        border: $border;
        border-radius: 6px;
    }
    // padding: 30px;
    &__stars {
        display: inline-block;
        vertical-align: top;
        margin-left: 20px;
        margin-top: 5px;
    }
    &__footer {
        border-top: $border;
        background-color: #f8f8f8;
        padding-bottom: 20px;
    }
    // .form-group {
    //     padding-bottom: 0;
    // }
    &__submit {
        @extend .btn-big;
        @extend .btn-primary;
        margin-top: 48px;
    }
}

.social-authorize {
    padding: 0 20px;
    &__title {
        margin-bottom: 10px;
    }
    ul {
        @include list-reset;
    }
    li {
        display: inline-block;
        margin: 0 20px;
        &:first-child {
            margin-left: 0;
        }
    }
    a {
        display: block;
    }
}

.border {
    border: $border;
}


.b-icons {
    margin-bottom: 20px;
    border: 1px solid #e5e3e3;
    border-bottom: none;
    &__item {
        min-height: 130px;
        border-bottom: 1px solid #e5e3e3;
        padding: 25px 15px 0px 22px;
    }
    &__figure {
        float: left;
        margin-right: 20px;
        width: 83px;
    }
    &__icon {
        position: relative;
        width: 83px;
        height: 83px;
        border: 1px solid #e6e4e4;
        border-radius: 50%;
        display: table-cell;
        text-align: center;
        vertical-align: middle;
        img {
            // display: block;
        }
    }
    &__content {
        margin-left: 103px;
        font-size: 16px;
        color: #7f8090;
    }
    &__title {
        font-size: 20px;
        color: #000;
    }
}

.pull-right {
    float: right;
}



.assembling {
    &__discount {
        @extend .clearfix;
        padding: 30px 35px 20px 0;
        .discount {
            height: 58px;
            border: 1px #eeecec solid;
            font-size: 20px;
            line-height: 23px;
            margin-bottom: 10px;
            span {
                height: 60px;
                width: 60px;
                margin: -1px 15px -1px -1px;
                background-color: #05a6f2;
                float: left;
                text-align: center;
                color: #fff;
                padding-top: 20px;
                font-size: 24px;
            }
            p {
                padding: 5px 0;
                margin: 0;
            }
        }
    }
    &__form {
        padding: 10px 0;
        .form-field-row {
            .form-field__inputtext {
                display: inline-block;
                width: 340px;
                margin-right: 20px;
            }
        }
        .form-field__button {
            padding-top: 10px;
            text-align: left;
        }
    }
}

.warranty {
    color: #777;
    &__top {
        border-bottom: 1px #eeecec solid;
        .left {
            margin-right: 200px;
            border-right: 1px #eeecec solid;
            padding: 35px 15px 30px 50px;
        }
        .right {
            float: right;
            width: 200px;
            padding-top: 50px;
            vertical-align: middle;
            text-align: center;
        }
    }
    &__banner {
        background-image: linear-gradient(to right, #016db8, #05a6f2);
        margin: 20px 0px 0;
        padding: 15px 50px;
        text-align: center;
        color: #fff;
        font-size: 24px;
        line-height: 28px;
    }
    &__button-return {
        font-size: $title-size;
    }
    &-list {
        @include list-reset;
    }
    &__inner {
        padding: 35px 15px 30px 50px;
        ul,
        li {
            @extend .reset-list;
        }
        li {
            display: block;
            padding: 8px 0 6px 35px;
            position: relative;
            color: #777;
            &:after {
                content: '';
                display: block;
                width: 26px;
                height: 26px;
                background: url(../images/icos_warranty.png) 0 0 no-repeat;
                position: absolute;
                top: 12px;
                left: 0;
            }
            &.warranty-1 {
                &:after {
                    background-position: 0 0;
                }
            }
            &.warranty-2 {
                &:after {
                    background-position: 0 -50px;
                }
            }
            &.warranty-3 {
                &:after {
                    background-position: 0 -100px;
                    top: 4px;
                }
            }
            &.warranty-4 {
                &:after {
                    background-position: 0 -145px;
                }
            }
        }
    }
}

.delivery {
    &__banner {
        background-image: linear-gradient(to right, #016db8, #05a6f2);
        // margin: 15px -15px 15px -50px;
        padding: 25px 50px;
        text-align: center;
        color: #fff;
        font-size: 24px;
        line-height: 28px;
    }
}

.whosaler {
    &__banner {
        background-image: linear-gradient(to right, #016db8, #05a6f2);
        margin: 0 -1px 20px;
        padding: 25px 50px;
        text-align: center;
        color: #fff;
        font-size: 34px;
        line-height: 36px;
        a {
            color: #fff;
        }
    }
    &__custom {
        @include list-reset;
        li {
            position: relative;
            padding: 8px 0 8px 35px;
            display: block;
            color: #777;
            &:before {
                display: block;
                position: absolute;
                top: 4px;
                left: 0;
                width: 30px;
                height: 30px;
                background: url(../images/icos_whosaler_custom.png) 0 0 no-repeat;
            }
            &.whosaler__custom-1:before {
                background-position: 0 4px;
            }
            &.whosaler__custom-2:before {
                background-position: 0 -32px;
            }
            &.whosaler__custom-3:before {
                background-position: 0 -65px;
            }
            &.whosaler__custom-4:before {
                background-position: 0 -104px;
            }
            &.whosaler__custom-5:before {
                background-position: 0 -142px;
            }
        }
    }
}


.help-text {
    font-style: italic;
    position: relative;
    display: inline-block;
    font-size: $font-size * .9;
    &--error {
        font-size: $font-size;
        font-style: normal;
        padding-left: $sprite-warning-width + 10px;
        &:before {
            content: " ";
            display: block;
            position: absolute;
            left: 0;
            top: 5px;
            @include sprite($sprite-warning);
        }
    }
}

.modal-pr {
    &__opts-inner {
        margin: 0 40px;
    }
    &__price {
        float: right;
        color: $color-blue;
        font-size: $title-size;
    }
    &__opts-list {
        padding-top: 10px;
    }
}

.text-link {
    display: inline-block;
    vertical-align: middle;
    text-decoration: underline;
}


.b-calc {
    &__top {
        margin-bottom: 25px;
    }
    &__sity {
        position: relative;
        display: inline-block;
        font-size: 18px;
        color: #000;
        input {
            background: none;
            border: none;
            width: 230px;
            height: 27px;
            padding: 4px 6px;
            text-transform: capitalize;
            &:focus {
                outline: none;
            }
            &.active {
                border: 1px solid #cecccc;
                background-color: #fff;
                color: #05a6f2;
            }
        }
    }
    &__sity-change {
        display: inline-block;
        margin-left: 13px;
        a {
            font-size: 16px;
            line-height: 17px;
            text-decoration: none !important;
            border-bottom: 1px dotted;
        }
        .icon {
            margin-left: 5px;
        }
    }
    &__list {
        @include list-reset;
        margin-top: 20px;
        .scroll-pane {
            height: 360px;
            .jspVerticalBar {
                width: 5px;
                background: none;
                right: 0;
            }
            .jspTrack {
                background: none;
            }
            .jspDrag {
                background: #d5d4d4;
                border-radius: 3px;
            }
        }
    }
    &__list-item {
      display: block;
      text-decoration: none;
        min-height: 72px;
        margin: 0 10px 0 0;
        padding: 0 5px;
        border-top: 1px solid #eeecec;
        background: none;
        &:hover {
          background: #f5f4f4;
          transition: .5s;
          text-decoration: none;
        }
        &.test:hover {
          background: rgba(0, 0, 0, 0.22);
          box-shadow: inset 0 0 55px rgba(0,0,0,.5);
        }
        &:focus {
          text-decoration: none;
        }
    }
    &__list-button {
      display: none;
      position: absolute;
      left: 50%;
      margin-left: -40px;
      top: 17px;
      @extend .btn-blue;
      padding: 10px 20px;
    }
    &__list-item:hover &__list-button {
      display: inline-block;
    }
    &__figure {
        position: relative;
        float: left;
        width: 59px;
        height: 59px;
        margin-top: 5px;
        background-color: #f5f4f4;
        border: 1px solid #f0eeee;
        // margin-right: 20px;
        background-repeat: no-repeat;
        background-position: center;
        border-radius: 50%;
    }
    &__icon {
        width: 59px;
        height: 59px;
        display: table-cell;
        vertical-align: middle;
        text-align: center;
        img {
        }
    }
    &__list-content {
        padding: 10px 0;
        margin-left: 54px + 20px;
    }
    &__list-price {
        float: right;
        // font-size: 18px;
        font-weight: bold;
        color: #05a6f2;
        letter-spacing: 0.03em;
        span {
            color: #64cd81;
        }
    }
    &__list-title {
        // font-size: 16px;
        color: #000;
        span {
            color: #8e8c8c;
        }
    }
    &__list-description {
        // line-height: 13px;
        font-style: italic;
        color: #777777;
        font-size: $font-size - 2px;
    }
    .address-dropdown {
        display: none;
        width: 100%;
        position: absolute;
        top: 27px;
        left: 0;
        border: 3px solid #58c4f7;
        z-index: 113;
        &__list-wrapper {
            max-height: none;
        }
        &__list > li {}
    }
}