/*
SCSS variables are information about icon's compiled state, stored under its original file name

.icon-home {
  width: $icon-home-width;
}

The large array-like variables contain all information about a single icon
$icon-home: x y offset_x offset_y width height total_width total_height image_path;

At the bottom of this section, we provide information about the spritesheet itself
$spritesheet: width height image $spritesheet-sprites;
*/
$sprite-alarm-1-name: 'sprite-alarm-1';
$sprite-alarm-1-x: 0px;
$sprite-alarm-1-y: 207px;
$sprite-alarm-1-offset-x: 0px;
$sprite-alarm-1-offset-y: -207px;
$sprite-alarm-1-width: 45px;
$sprite-alarm-1-height: 43px;
$sprite-alarm-1-total-width: 346px;
$sprite-alarm-1-total-height: 346px;
$sprite-alarm-1-image: '../images/sprite.png';
$sprite-alarm-1: (0px, 207px, 0px, -207px, 45px, 43px, 346px, 346px, '../images/sprite.png', 'sprite-alarm-1', );
$sprite-alarm-xs-name: 'sprite-alarm-xs';
$sprite-alarm-xs-x: 273px;
$sprite-alarm-xs-y: 73px;
$sprite-alarm-xs-offset-x: -273px;
$sprite-alarm-xs-offset-y: -73px;
$sprite-alarm-xs-width: 16px;
$sprite-alarm-xs-height: 17px;
$sprite-alarm-xs-total-width: 346px;
$sprite-alarm-xs-total-height: 346px;
$sprite-alarm-xs-image: '../images/sprite.png';
$sprite-alarm-xs: (273px, 73px, -273px, -73px, 16px, 17px, 346px, 346px, '../images/sprite.png', 'sprite-alarm-xs', );
$sprite-alarm-name: 'sprite-alarm';
$sprite-alarm-x: 268px;
$sprite-alarm-y: 159px;
$sprite-alarm-offset-x: -268px;
$sprite-alarm-offset-y: -159px;
$sprite-alarm-width: 16px;
$sprite-alarm-height: 17px;
$sprite-alarm-total-width: 346px;
$sprite-alarm-total-height: 346px;
$sprite-alarm-image: '../images/sprite.png';
$sprite-alarm: (268px, 159px, -268px, -159px, 16px, 17px, 346px, 346px, '../images/sprite.png', 'sprite-alarm', );
$sprite-alarm1-name: 'sprite-alarm1';
$sprite-alarm1-x: 45px;
$sprite-alarm1-y: 207px;
$sprite-alarm1-offset-x: -45px;
$sprite-alarm1-offset-y: -207px;
$sprite-alarm1-width: 45px;
$sprite-alarm1-height: 43px;
$sprite-alarm1-total-width: 346px;
$sprite-alarm1-total-height: 346px;
$sprite-alarm1-image: '../images/sprite.png';
$sprite-alarm1: (45px, 207px, -45px, -207px, 45px, 43px, 346px, 346px, '../images/sprite.png', 'sprite-alarm1', );
$sprite-arr-bottom1-name: 'sprite-arr-bottom1';
$sprite-arr-bottom1-x: 153px;
$sprite-arr-bottom1-y: 238px;
$sprite-arr-bottom1-offset-x: -153px;
$sprite-arr-bottom1-offset-y: -238px;
$sprite-arr-bottom1-width: 14px;
$sprite-arr-bottom1-height: 8px;
$sprite-arr-bottom1-total-width: 346px;
$sprite-arr-bottom1-total-height: 346px;
$sprite-arr-bottom1-image: '../images/sprite.png';
$sprite-arr-bottom1: (153px, 238px, -153px, -238px, 14px, 8px, 346px, 346px, '../images/sprite.png', 'sprite-arr-bottom1', );
$sprite-arr-right1-name: 'sprite-arr-right1';
$sprite-arr-right1-x: 63px;
$sprite-arr-right1-y: 316px;
$sprite-arr-right1-offset-x: -63px;
$sprite-arr-right1-offset-y: -316px;
$sprite-arr-right1-width: 8px;
$sprite-arr-right1-height: 14px;
$sprite-arr-right1-total-width: 346px;
$sprite-arr-right1-total-height: 346px;
$sprite-arr-right1-image: '../images/sprite.png';
$sprite-arr-right1: (63px, 316px, -63px, -316px, 8px, 14px, 346px, 346px, '../images/sprite.png', 'sprite-arr-right1', );
$sprite-basket-name: 'sprite-basket';
$sprite-basket-x: 40px;
$sprite-basket-y: 250px;
$sprite-basket-offset-x: -40px;
$sprite-basket-offset-y: -250px;
$sprite-basket-width: 38px;
$sprite-basket-height: 34px;
$sprite-basket-total-width: 346px;
$sprite-basket-total-height: 346px;
$sprite-basket-image: '../images/sprite.png';
$sprite-basket: (40px, 250px, -40px, -250px, 38px, 34px, 346px, 346px, '../images/sprite.png', 'sprite-basket', );
$sprite-bottom-gray-1-name: 'sprite-bottom-gray-1';
$sprite-bottom-gray-1-x: 207px;
$sprite-bottom-gray-1-y: 284px;
$sprite-bottom-gray-1-offset-x: -207px;
$sprite-bottom-gray-1-offset-y: -284px;
$sprite-bottom-gray-1-width: 30px;
$sprite-bottom-gray-1-height: 18px;
$sprite-bottom-gray-1-total-width: 346px;
$sprite-bottom-gray-1-total-height: 346px;
$sprite-bottom-gray-1-image: '../images/sprite.png';
$sprite-bottom-gray-1: (207px, 284px, -207px, -284px, 30px, 18px, 346px, 346px, '../images/sprite.png', 'sprite-bottom-gray-1', );
$sprite-box-open-name: 'sprite-box-open';
$sprite-box-open-x: 289px;
$sprite-box-open-y: 121px;
$sprite-box-open-offset-x: -289px;
$sprite-box-open-offset-y: -121px;
$sprite-box-open-width: 33px;
$sprite-box-open-height: 31px;
$sprite-box-open-total-width: 346px;
$sprite-box-open-total-height: 346px;
$sprite-box-open-image: '../images/sprite.png';
$sprite-box-open: (289px, 121px, -289px, -121px, 33px, 31px, 346px, 346px, '../images/sprite.png', 'sprite-box-open', );
$sprite-caret-name: 'sprite-caret';
$sprite-caret-x: 139px;
$sprite-caret-y: 238px;
$sprite-caret-offset-x: -139px;
$sprite-caret-offset-y: -238px;
$sprite-caret-width: 14px;
$sprite-caret-height: 8px;
$sprite-caret-total-width: 346px;
$sprite-caret-total-height: 346px;
$sprite-caret-image: '../images/sprite.png';
$sprite-caret: (139px, 238px, -139px, -238px, 14px, 8px, 346px, 346px, '../images/sprite.png', 'sprite-caret', );
$sprite-check-a-name: 'sprite-check-a';
$sprite-check-a-x: 0px;
$sprite-check-a-y: 149px;
$sprite-check-a-offset-x: 0px;
$sprite-check-a-offset-y: -149px;
$sprite-check-a-width: 58px;
$sprite-check-a-height: 58px;
$sprite-check-a-total-width: 346px;
$sprite-check-a-total-height: 346px;
$sprite-check-a-image: '../images/sprite.png';
$sprite-check-a: (0px, 149px, 0px, -149px, 58px, 58px, 346px, 346px, '../images/sprite.png', 'sprite-check-a', );
$sprite-close-name: 'sprite-close';
$sprite-close-x: 86px;
$sprite-close-y: 284px;
$sprite-close-offset-x: -86px;
$sprite-close-offset-y: -284px;
$sprite-close-width: 28px;
$sprite-close-height: 28px;
$sprite-close-total-width: 346px;
$sprite-close-total-height: 346px;
$sprite-close-image: '../images/sprite.png';
$sprite-close: (86px, 284px, -86px, -284px, 28px, 28px, 346px, 346px, '../images/sprite.png', 'sprite-close', );
$sprite-credit-card-1-name: 'sprite-credit-card-1';
$sprite-credit-card-1-x: 135px;
$sprite-credit-card-1-y: 207px;
$sprite-credit-card-1-offset-x: -135px;
$sprite-credit-card-1-offset-y: -207px;
$sprite-credit-card-1-width: 44px;
$sprite-credit-card-1-height: 31px;
$sprite-credit-card-1-total-width: 346px;
$sprite-credit-card-1-total-height: 346px;
$sprite-credit-card-1-image: '../images/sprite.png';
$sprite-credit-card-1: (135px, 207px, -135px, -207px, 44px, 31px, 346px, 346px, '../images/sprite.png', 'sprite-credit-card-1', );
$sprite-credit-card-name: 'sprite-credit-card';
$sprite-credit-card-x: 125px;
$sprite-credit-card-y: 238px;
$sprite-credit-card-offset-x: -125px;
$sprite-credit-card-offset-y: -238px;
$sprite-credit-card-width: 14px;
$sprite-credit-card-height: 10px;
$sprite-credit-card-total-width: 346px;
$sprite-credit-card-total-height: 346px;
$sprite-credit-card-image: '../images/sprite.png';
$sprite-credit-card: (125px, 238px, -125px, -238px, 14px, 10px, 346px, 346px, '../images/sprite.png', 'sprite-credit-card', );
$sprite-equalizer-gray-name: 'sprite-equalizer-gray';
$sprite-equalizer-gray-x: 30px;
$sprite-equalizer-gray-y: 284px;
$sprite-equalizer-gray-offset-x: -30px;
$sprite-equalizer-gray-offset-y: -284px;
$sprite-equalizer-gray-width: 28px;
$sprite-equalizer-gray-height: 32px;
$sprite-equalizer-gray-total-width: 346px;
$sprite-equalizer-gray-total-height: 346px;
$sprite-equalizer-gray-image: '../images/sprite.png';
$sprite-equalizer-gray: (30px, 284px, -30px, -284px, 28px, 32px, 346px, 346px, '../images/sprite.png', 'sprite-equalizer-gray', );
$sprite-equalizer-name: 'sprite-equalizer';
$sprite-equalizer-x: 58px;
$sprite-equalizer-y: 284px;
$sprite-equalizer-offset-x: -58px;
$sprite-equalizer-offset-y: -284px;
$sprite-equalizer-width: 28px;
$sprite-equalizer-height: 32px;
$sprite-equalizer-total-width: 346px;
$sprite-equalizer-total-height: 346px;
$sprite-equalizer-image: '../images/sprite.png';
$sprite-equalizer: (58px, 284px, -58px, -284px, 28px, 32px, 346px, 346px, '../images/sprite.png', 'sprite-equalizer', );
$sprite-f-name: 'sprite-f';
$sprite-f-x: 281px;
$sprite-f-y: 207px;
$sprite-f-offset-x: -281px;
$sprite-f-offset-y: -207px;
$sprite-f-width: 8px;
$sprite-f-height: 18px;
$sprite-f-total-width: 346px;
$sprite-f-total-height: 346px;
$sprite-f-image: '../images/sprite.png';
$sprite-f: (281px, 207px, -281px, -207px, 8px, 18px, 346px, 346px, '../images/sprite.png', 'sprite-f', );
$sprite-fb-1-name: 'sprite-fb-1';
$sprite-fb-1-x: 273px;
$sprite-fb-1-y: 41px;
$sprite-fb-1-offset-x: -273px;
$sprite-fb-1-offset-y: -41px;
$sprite-fb-1-width: 16px;
$sprite-fb-1-height: 32px;
$sprite-fb-1-total-width: 346px;
$sprite-fb-1-total-height: 346px;
$sprite-fb-1-image: '../images/sprite.png';
$sprite-fb-1: (273px, 41px, -273px, -41px, 16px, 32px, 346px, 346px, '../images/sprite.png', 'sprite-fb-1', );
$sprite-four-lines-name: 'sprite-four-lines';
$sprite-four-lines-x: 238px;
$sprite-four-lines-y: 250px;
$sprite-four-lines-offset-x: -238px;
$sprite-four-lines-offset-y: -250px;
$sprite-four-lines-width: 29px;
$sprite-four-lines-height: 29px;
$sprite-four-lines-total-width: 346px;
$sprite-four-lines-total-height: 346px;
$sprite-four-lines-image: '../images/sprite.png';
$sprite-four-lines: (238px, 250px, -238px, -250px, 29px, 29px, 346px, 346px, '../images/sprite.png', 'sprite-four-lines', );
$sprite-gg-1-name: 'sprite-gg-1';
$sprite-gg-1-x: 114px;
$sprite-gg-1-y: 284px;
$sprite-gg-1-offset-x: -114px;
$sprite-gg-1-offset-y: -284px;
$sprite-gg-1-width: 29px;
$sprite-gg-1-height: 26px;
$sprite-gg-1-total-width: 346px;
$sprite-gg-1-total-height: 346px;
$sprite-gg-1-image: '../images/sprite.png';
$sprite-gg-1: (114px, 284px, -114px, -284px, 29px, 26px, 346px, 346px, '../images/sprite.png', 'sprite-gg-1', );
$sprite-globe-sm-name: 'sprite-globe-sm';
$sprite-globe-sm-x: 237px;
$sprite-globe-sm-y: 284px;
$sprite-globe-sm-offset-x: -237px;
$sprite-globe-sm-offset-y: -284px;
$sprite-globe-sm-width: 16px;
$sprite-globe-sm-height: 16px;
$sprite-globe-sm-total-width: 346px;
$sprite-globe-sm-total-height: 346px;
$sprite-globe-sm-image: '../images/sprite.png';
$sprite-globe-sm: (237px, 284px, -237px, -284px, 16px, 16px, 346px, 346px, '../images/sprite.png', 'sprite-globe-sm', );
$sprite-globe-name: 'sprite-globe';
$sprite-globe-x: 112px;
$sprite-globe-y: 250px;
$sprite-globe-offset-x: -112px;
$sprite-globe-offset-y: -250px;
$sprite-globe-width: 34px;
$sprite-globe-height: 34px;
$sprite-globe-total-width: 346px;
$sprite-globe-total-height: 346px;
$sprite-globe-image: '../images/sprite.png';
$sprite-globe: (112px, 250px, -112px, -250px, 34px, 34px, 346px, 346px, '../images/sprite.png', 'sprite-globe', );
$sprite-grid-2-name: 'sprite-grid-2';
$sprite-grid-2-x: 267px;
$sprite-grid-2-y: 250px;
$sprite-grid-2-offset-x: -267px;
$sprite-grid-2-offset-y: -250px;
$sprite-grid-2-width: 29px;
$sprite-grid-2-height: 29px;
$sprite-grid-2-total-width: 346px;
$sprite-grid-2-total-height: 346px;
$sprite-grid-2-image: '../images/sprite.png';
$sprite-grid-2: (267px, 250px, -267px, -250px, 29px, 29px, 346px, 346px, '../images/sprite.png', 'sprite-grid-2', );
$sprite-in-name: 'sprite-in';
$sprite-in-x: 253px;
$sprite-in-y: 284px;
$sprite-in-offset-x: -253px;
$sprite-in-offset-y: -284px;
$sprite-in-width: 16px;
$sprite-in-height: 15px;
$sprite-in-total-width: 346px;
$sprite-in-total-height: 346px;
$sprite-in-image: '../images/sprite.png';
$sprite-in: (253px, 284px, -253px, -284px, 16px, 15px, 346px, 346px, '../images/sprite.png', 'sprite-in', );
$sprite-left-gray-1-name: 'sprite-left-gray-1';
$sprite-left-gray-1-x: 322px;
$sprite-left-gray-1-y: 192px;
$sprite-left-gray-1-offset-x: -322px;
$sprite-left-gray-1-offset-y: -192px;
$sprite-left-gray-1-width: 19px;
$sprite-left-gray-1-height: 30px;
$sprite-left-gray-1-total-width: 346px;
$sprite-left-gray-1-total-height: 346px;
$sprite-left-gray-1-image: '../images/sprite.png';
$sprite-left-gray-1: (322px, 192px, -322px, -192px, 19px, 30px, 346px, 346px, '../images/sprite.png', 'sprite-left-gray-1', );
$sprite-left-name: 'sprite-left';
$sprite-left-x: 322px;
$sprite-left-y: 222px;
$sprite-left-offset-x: -322px;
$sprite-left-offset-y: -222px;
$sprite-left-width: 18px;
$sprite-left-height: 30px;
$sprite-left-total-width: 346px;
$sprite-left-total-height: 346px;
$sprite-left-image: '../images/sprite.png';
$sprite-left: (322px, 222px, -322px, -222px, 18px, 30px, 346px, 346px, '../images/sprite.png', 'sprite-left', );
$sprite-list-arr-name: 'sprite-list-arr';
$sprite-list-arr-x: 280px;
$sprite-list-arr-y: 176px;
$sprite-list-arr-offset-x: -280px;
$sprite-list-arr-offset-y: -176px;
$sprite-list-arr-width: 9px;
$sprite-list-arr-height: 16px;
$sprite-list-arr-total-width: 346px;
$sprite-list-arr-total-height: 346px;
$sprite-list-arr-image: '../images/sprite.png';
$sprite-list-arr: (280px, 176px, -280px, -176px, 9px, 16px, 346px, 346px, '../images/sprite.png', 'sprite-list-arr', );
$sprite-list-custom-name: 'sprite-list_custom';
$sprite-list-custom-x: 341px;
$sprite-list-custom-y: 162px;
$sprite-list-custom-offset-x: -341px;
$sprite-list-custom-offset-y: -162px;
$sprite-list-custom-width: 5px;
$sprite-list-custom-height: 8px;
$sprite-list-custom-total-width: 346px;
$sprite-list-custom-total-height: 346px;
$sprite-list-custom-image: '../images/sprite.png';
$sprite-list-custom: (341px, 162px, -341px, -162px, 5px, 8px, 346px, 346px, '../images/sprite.png', 'sprite-list_custom', );
$sprite-logo-name: 'sprite-logo';
$sprite-logo-x: 0px;
$sprite-logo-y: 0px;
$sprite-logo-offset-x: 0px;
$sprite-logo-offset-y: 0px;
$sprite-logo-width: 222px;
$sprite-logo-height: 149px;
$sprite-logo-total-width: 346px;
$sprite-logo-total-height: 346px;
$sprite-logo-image: '../images/sprite.png';
$sprite-logo: (0px, 0px, 0px, 0px, 222px, 149px, 346px, 346px, '../images/sprite.png', 'sprite-logo', );
$sprite-m-book-name: 'sprite-m-book';
$sprite-m-book-x: 0px;
$sprite-m-book-y: 316px;
$sprite-m-book-offset-x: 0px;
$sprite-m-book-offset-y: -316px;
$sprite-m-book-width: 26px;
$sprite-m-book-height: 30px;
$sprite-m-book-total-width: 346px;
$sprite-m-book-total-height: 346px;
$sprite-m-book-image: '../images/sprite.png';
$sprite-m-book: (0px, 316px, 0px, -316px, 26px, 30px, 346px, 346px, '../images/sprite.png', 'sprite-m-book', );
$sprite-m-box-open-name: 'sprite-m-box-open';
$sprite-m-box-open-x: 289px;
$sprite-m-box-open-y: 90px;
$sprite-m-box-open-offset-x: -289px;
$sprite-m-box-open-offset-y: -90px;
$sprite-m-box-open-width: 33px;
$sprite-m-box-open-height: 31px;
$sprite-m-box-open-total-width: 346px;
$sprite-m-box-open-total-height: 346px;
$sprite-m-box-open-image: '../images/sprite.png';
$sprite-m-box-open: (289px, 90px, -289px, -90px, 33px, 31px, 346px, 346px, '../images/sprite.png', 'sprite-m-box-open', );
$sprite-m-car-name: 'sprite-m-car';
$sprite-m-car-x: 148px;
$sprite-m-car-y: 179px;
$sprite-m-car-offset-x: -148px;
$sprite-m-car-offset-y: -179px;
$sprite-m-car-width: 32px;
$sprite-m-car-height: 25px;
$sprite-m-car-total-width: 346px;
$sprite-m-car-total-height: 346px;
$sprite-m-car-image: '../images/sprite.png';
$sprite-m-car: (148px, 179px, -148px, -179px, 32px, 25px, 346px, 346px, '../images/sprite.png', 'sprite-m-car', );
$sprite-m-mail-name: 'sprite-m-mail';
$sprite-m-mail-x: 180px;
$sprite-m-mail-y: 179px;
$sprite-m-mail-offset-x: -180px;
$sprite-m-mail-offset-y: -179px;
$sprite-m-mail-width: 32px;
$sprite-m-mail-height: 22px;
$sprite-m-mail-total-width: 346px;
$sprite-m-mail-total-height: 346px;
$sprite-m-mail-image: '../images/sprite.png';
$sprite-m-mail: (180px, 179px, -180px, -179px, 32px, 22px, 346px, 346px, '../images/sprite.png', 'sprite-m-mail', );
$sprite-m-shop-name: 'sprite-m-shop';
$sprite-m-shop-x: 146px;
$sprite-m-shop-y: 250px;
$sprite-m-shop-offset-x: -146px;
$sprite-m-shop-offset-y: -250px;
$sprite-m-shop-width: 32px;
$sprite-m-shop-height: 30px;
$sprite-m-shop-total-width: 346px;
$sprite-m-shop-total-height: 346px;
$sprite-m-shop-image: '../images/sprite.png';
$sprite-m-shop: (146px, 250px, -146px, -250px, 32px, 30px, 346px, 346px, '../images/sprite.png', 'sprite-m-shop', );
$sprite-m-tags-gray-name: 'sprite-m-tags-gray';
$sprite-m-tags-gray-x: 0px;
$sprite-m-tags-gray-y: 284px;
$sprite-m-tags-gray-offset-x: 0px;
$sprite-m-tags-gray-offset-y: -284px;
$sprite-m-tags-gray-width: 30px;
$sprite-m-tags-gray-height: 32px;
$sprite-m-tags-gray-total-width: 346px;
$sprite-m-tags-gray-total-height: 346px;
$sprite-m-tags-gray-image: '../images/sprite.png';
$sprite-m-tags-gray: (0px, 284px, 0px, -284px, 30px, 32px, 346px, 346px, '../images/sprite.png', 'sprite-m-tags-gray', );
$sprite-m-tags-name: 'sprite-m-tags';
$sprite-m-tags-x: 296px;
$sprite-m-tags-y: 250px;
$sprite-m-tags-offset-x: -296px;
$sprite-m-tags-offset-y: -250px;
$sprite-m-tags-width: 26px;
$sprite-m-tags-height: 28px;
$sprite-m-tags-total-width: 346px;
$sprite-m-tags-total-height: 346px;
$sprite-m-tags-image: '../images/sprite.png';
$sprite-m-tags: (296px, 250px, -296px, -250px, 26px, 28px, 346px, 346px, '../images/sprite.png', 'sprite-m-tags', );
$sprite-m-tools-name: 'sprite-m-tools';
$sprite-m-tools-x: 251px;
$sprite-m-tools-y: 207px;
$sprite-m-tools-offset-x: -251px;
$sprite-m-tools-offset-y: -207px;
$sprite-m-tools-width: 30px;
$sprite-m-tools-height: 29px;
$sprite-m-tools-total-width: 346px;
$sprite-m-tools-total-height: 346px;
$sprite-m-tools-image: '../images/sprite.png';
$sprite-m-tools: (251px, 207px, -251px, -207px, 30px, 29px, 346px, 346px, '../images/sprite.png', 'sprite-m-tools', );
$sprite-m-umbrella-name: 'sprite-m-umbrella';
$sprite-m-umbrella-x: 289px;
$sprite-m-umbrella-y: 185px;
$sprite-m-umbrella-offset-x: -289px;
$sprite-m-umbrella-offset-y: -185px;
$sprite-m-umbrella-width: 30px;
$sprite-m-umbrella-height: 33px;
$sprite-m-umbrella-total-width: 346px;
$sprite-m-umbrella-total-height: 346px;
$sprite-m-umbrella-image: '../images/sprite.png';
$sprite-m-umbrella: (289px, 185px, -289px, -185px, 30px, 33px, 346px, 346px, '../images/sprite.png', 'sprite-m-umbrella', );
$sprite-magnifying-glass-3-name: 'sprite-magnifying-glass--3';
$sprite-magnifying-glass-3-x: 269px;
$sprite-magnifying-glass-3-y: 284px;
$sprite-magnifying-glass-3-offset-x: -269px;
$sprite-magnifying-glass-3-offset-y: -284px;
$sprite-magnifying-glass-3-width: 12px;
$sprite-magnifying-glass-3-height: 12px;
$sprite-magnifying-glass-3-total-width: 346px;
$sprite-magnifying-glass-3-total-height: 346px;
$sprite-magnifying-glass-3-image: '../images/sprite.png';
$sprite-magnifying-glass-3: (269px, 284px, -269px, -284px, 12px, 12px, 346px, 346px, '../images/sprite.png', 'sprite-magnifying-glass--3', );
$sprite-mail-1-name: 'sprite-mail-1';
$sprite-mail-1-x: 90px;
$sprite-mail-1-y: 207px;
$sprite-mail-1-offset-x: -90px;
$sprite-mail-1-offset-y: -207px;
$sprite-mail-1-width: 45px;
$sprite-mail-1-height: 31px;
$sprite-mail-1-total-width: 346px;
$sprite-mail-1-total-height: 346px;
$sprite-mail-1-image: '../images/sprite.png';
$sprite-mail-1: (90px, 207px, -90px, -207px, 45px, 31px, 346px, 346px, '../images/sprite.png', 'sprite-mail-1', );
$sprite-mail-blue-name: 'sprite-mail-blue';
$sprite-mail-blue-x: 222px;
$sprite-mail-blue-y: 176px;
$sprite-mail-blue-offset-x: -222px;
$sprite-mail-blue-offset-y: -176px;
$sprite-mail-blue-width: 45px;
$sprite-mail-blue-height: 31px;
$sprite-mail-blue-total-width: 346px;
$sprite-mail-blue-total-height: 346px;
$sprite-mail-blue-image: '../images/sprite.png';
$sprite-mail-blue: (222px, 176px, -222px, -176px, 45px, 31px, 346px, 346px, '../images/sprite.png', 'sprite-mail-blue', );
$sprite-mastercard-name: 'sprite-mastercard';
$sprite-mastercard-x: 222px;
$sprite-mastercard-y: 0px;
$sprite-mastercard-offset-x: -222px;
$sprite-mastercard-offset-y: 0px;
$sprite-mastercard-width: 67px;
$sprite-mastercard-height: 41px;
$sprite-mastercard-total-width: 346px;
$sprite-mastercard-total-height: 346px;
$sprite-mastercard-image: '../images/sprite.png';
$sprite-mastercard: (222px, 0px, -222px, 0px, 67px, 41px, 346px, 346px, '../images/sprite.png', 'sprite-mastercard', );
$sprite-ok-1-name: 'sprite-ok-1';
$sprite-ok-1-x: 268px;
$sprite-ok-1-y: 133px;
$sprite-ok-1-offset-x: -268px;
$sprite-ok-1-offset-y: -133px;
$sprite-ok-1-width: 15px;
$sprite-ok-1-height: 26px;
$sprite-ok-1-total-width: 346px;
$sprite-ok-1-total-height: 346px;
$sprite-ok-1-image: '../images/sprite.png';
$sprite-ok-1: (268px, 133px, -268px, -133px, 15px, 26px, 346px, 346px, '../images/sprite.png', 'sprite-ok-1', );
$sprite-ok-name: 'sprite-ok';
$sprite-ok-x: 212px;
$sprite-ok-y: 179px;
$sprite-ok-offset-x: -212px;
$sprite-ok-offset-y: -179px;
$sprite-ok-width: 10px;
$sprite-ok-height: 18px;
$sprite-ok-total-width: 346px;
$sprite-ok-total-height: 346px;
$sprite-ok-image: '../images/sprite.png';
$sprite-ok: (212px, 179px, -212px, -179px, 10px, 18px, 346px, 346px, '../images/sprite.png', 'sprite-ok', );
$sprite-phone-blue-name: 'sprite-phone-blue';
$sprite-phone-blue-x: 289px;
$sprite-phone-blue-y: 45px;
$sprite-phone-blue-offset-x: -289px;
$sprite-phone-blue-offset-y: -45px;
$sprite-phone-blue-width: 33px;
$sprite-phone-blue-height: 45px;
$sprite-phone-blue-total-width: 346px;
$sprite-phone-blue-total-height: 346px;
$sprite-phone-blue-image: '../images/sprite.png';
$sprite-phone-blue: (289px, 45px, -289px, -45px, 33px, 45px, 346px, 346px, '../images/sprite.png', 'sprite-phone-blue', );
$sprite-phone-sm-blue-name: 'sprite-phone-sm-blue';
$sprite-phone-sm-blue-x: 322px;
$sprite-phone-sm-blue-y: 104px;
$sprite-phone-sm-blue-offset-x: -322px;
$sprite-phone-sm-blue-offset-y: -104px;
$sprite-phone-sm-blue-width: 21px;
$sprite-phone-sm-blue-height: 29px;
$sprite-phone-sm-blue-total-width: 346px;
$sprite-phone-sm-blue-total-height: 346px;
$sprite-phone-sm-blue-image: '../images/sprite.png';
$sprite-phone-sm-blue: (322px, 104px, -322px, -104px, 21px, 29px, 346px, 346px, '../images/sprite.png', 'sprite-phone-sm-blue', );
$sprite-phone-xs-name: 'sprite-phone-xs';
$sprite-phone-xs-x: 109px;
$sprite-phone-xs-y: 238px;
$sprite-phone-xs-offset-x: -109px;
$sprite-phone-xs-offset-y: -238px;
$sprite-phone-xs-width: 16px;
$sprite-phone-xs-height: 10px;
$sprite-phone-xs-total-width: 346px;
$sprite-phone-xs-total-height: 346px;
$sprite-phone-xs-image: '../images/sprite.png';
$sprite-phone-xs: (109px, 238px, -109px, -238px, 16px, 10px, 346px, 346px, '../images/sprite.png', 'sprite-phone-xs', );
$sprite-phone-name: 'sprite-phone';
$sprite-phone-x: 322px;
$sprite-phone-y: 73px;
$sprite-phone-offset-x: -322px;
$sprite-phone-offset-y: -73px;
$sprite-phone-width: 24px;
$sprite-phone-height: 31px;
$sprite-phone-total-width: 346px;
$sprite-phone-total-height: 346px;
$sprite-phone-image: '../images/sprite.png';
$sprite-phone: (322px, 73px, -322px, -73px, 24px, 31px, 346px, 346px, '../images/sprite.png', 'sprite-phone', );
$sprite-pin-1-xs-name: 'sprite-pin-1-xs';
$sprite-pin-1-xs-x: 51px;
$sprite-pin-1-xs-y: 316px;
$sprite-pin-1-xs-offset-x: -51px;
$sprite-pin-1-xs-offset-y: -316px;
$sprite-pin-1-xs-width: 12px;
$sprite-pin-1-xs-height: 16px;
$sprite-pin-1-xs-total-width: 346px;
$sprite-pin-1-xs-total-height: 346px;
$sprite-pin-1-xs-image: '../images/sprite.png';
$sprite-pin-1-xs: (51px, 316px, -51px, -316px, 12px, 16px, 346px, 346px, '../images/sprite.png', 'sprite-pin-1-xs', );
$sprite-pin-1-name: 'sprite-pin-1';
$sprite-pin-1-x: 322px;
$sprite-pin-1-y: 41px;
$sprite-pin-1-offset-x: -322px;
$sprite-pin-1-offset-y: -41px;
$sprite-pin-1-width: 24px;
$sprite-pin-1-height: 32px;
$sprite-pin-1-total-width: 346px;
$sprite-pin-1-total-height: 346px;
$sprite-pin-1-image: '../images/sprite.png';
$sprite-pin-1: (322px, 41px, -322px, -41px, 24px, 32px, 346px, 346px, '../images/sprite.png', 'sprite-pin-1', );
$sprite-right-gray-1-name: 'sprite-right-gray-1';
$sprite-right-gray-1-x: 322px;
$sprite-right-gray-1-y: 162px;
$sprite-right-gray-1-offset-x: -322px;
$sprite-right-gray-1-offset-y: -162px;
$sprite-right-gray-1-width: 19px;
$sprite-right-gray-1-height: 30px;
$sprite-right-gray-1-total-width: 346px;
$sprite-right-gray-1-total-height: 346px;
$sprite-right-gray-1-image: '../images/sprite.png';
$sprite-right-gray-1: (322px, 162px, -322px, -162px, 19px, 30px, 346px, 346px, '../images/sprite.png', 'sprite-right-gray-1', );
$sprite-right-gray-name: 'sprite-right-gray';
$sprite-right-gray-x: 322px;
$sprite-right-gray-y: 0px;
$sprite-right-gray-offset-x: -322px;
$sprite-right-gray-offset-y: 0px;
$sprite-right-gray-width: 24px;
$sprite-right-gray-height: 41px;
$sprite-right-gray-total-width: 346px;
$sprite-right-gray-total-height: 346px;
$sprite-right-gray-image: '../images/sprite.png';
$sprite-right-gray: (322px, 0px, -322px, 0px, 24px, 41px, 346px, 346px, '../images/sprite.png', 'sprite-right-gray', );
$sprite-right-name: 'sprite-right';
$sprite-right-x: 322px;
$sprite-right-y: 252px;
$sprite-right-offset-x: -322px;
$sprite-right-offset-y: -252px;
$sprite-right-width: 18px;
$sprite-right-height: 30px;
$sprite-right-total-width: 346px;
$sprite-right-total-height: 346px;
$sprite-right-image: '../images/sprite.png';
$sprite-right: (322px, 252px, -322px, -252px, 18px, 30px, 346px, 346px, '../images/sprite.png', 'sprite-right', );
$sprite-rounded-rectangle-2-name: 'sprite-rounded-rectangle-2';
$sprite-rounded-rectangle-2-x: 58px;
$sprite-rounded-rectangle-2-y: 149px;
$sprite-rounded-rectangle-2-offset-x: -58px;
$sprite-rounded-rectangle-2-offset-y: -149px;
$sprite-rounded-rectangle-2-width: 58px;
$sprite-rounded-rectangle-2-height: 58px;
$sprite-rounded-rectangle-2-total-width: 346px;
$sprite-rounded-rectangle-2-total-height: 346px;
$sprite-rounded-rectangle-2-image: '../images/sprite.png';
$sprite-rounded-rectangle-2: (58px, 149px, -58px, -149px, 58px, 58px, 346px, 346px, '../images/sprite.png', 'sprite-rounded-rectangle-2', );
$sprite-search-sm-name: 'sprite-search-sm';
$sprite-search-sm-x: 26px;
$sprite-search-sm-y: 316px;
$sprite-search-sm-offset-x: -26px;
$sprite-search-sm-offset-y: -316px;
$sprite-search-sm-width: 25px;
$sprite-search-sm-height: 25px;
$sprite-search-sm-total-width: 346px;
$sprite-search-sm-total-height: 346px;
$sprite-search-sm-image: '../images/sprite.png';
$sprite-search-sm: (26px, 316px, -26px, -316px, 25px, 25px, 346px, 346px, '../images/sprite.png', 'sprite-search-sm', );
$sprite-search-name: 'sprite-search';
$sprite-search-x: 78px;
$sprite-search-y: 250px;
$sprite-search-offset-x: -78px;
$sprite-search-offset-y: -250px;
$sprite-search-width: 34px;
$sprite-search-height: 34px;
$sprite-search-total-width: 346px;
$sprite-search-total-height: 346px;
$sprite-search-image: '../images/sprite.png';
$sprite-search: (78px, 250px, -78px, -250px, 34px, 34px, 346px, 346px, '../images/sprite.png', 'sprite-search', );
$sprite-shop-name: 'sprite-shop-';
$sprite-shop-x: 222px;
$sprite-shop-y: 133px;
$sprite-shop-offset-x: -222px;
$sprite-shop-offset-y: -133px;
$sprite-shop-width: 46px;
$sprite-shop-height: 43px;
$sprite-shop-total-width: 346px;
$sprite-shop-total-height: 346px;
$sprite-shop-image: '../images/sprite.png';
$sprite-shop-: (222px, 133px, -222px, -133px, 46px, 43px, 346px, 346px, '../images/sprite.png', 'sprite-shop-', );
$sprite-shop-1-name: 'sprite-shop-1';
$sprite-shop-1-x: 222px;
$sprite-shop-1-y: 90px;
$sprite-shop-1-offset-x: -222px;
$sprite-shop-1-offset-y: -90px;
$sprite-shop-1-width: 46px;
$sprite-shop-1-height: 43px;
$sprite-shop-1-total-width: 346px;
$sprite-shop-1-total-height: 346px;
$sprite-shop-1-image: '../images/sprite.png';
$sprite-shop-1: (222px, 90px, -222px, -90px, 46px, 43px, 346px, 346px, '../images/sprite.png', 'sprite-shop-1', );
$sprite-star-h-name: 'sprite-star-h';
$sprite-star-h-x: 221px;
$sprite-star-h-y: 207px;
$sprite-star-h-offset-x: -221px;
$sprite-star-h-offset-y: -207px;
$sprite-star-h-width: 30px;
$sprite-star-h-height: 29px;
$sprite-star-h-total-width: 346px;
$sprite-star-h-total-height: 346px;
$sprite-star-h-image: '../images/sprite.png';
$sprite-star-h: (221px, 207px, -221px, -207px, 30px, 29px, 346px, 346px, '../images/sprite.png', 'sprite-star-h', );
$sprite-star-name: 'sprite-star';
$sprite-star-x: 208px;
$sprite-star-y: 250px;
$sprite-star-offset-x: -208px;
$sprite-star-offset-y: -250px;
$sprite-star-width: 30px;
$sprite-star-height: 29px;
$sprite-star-total-width: 346px;
$sprite-star-total-height: 346px;
$sprite-star-image: '../images/sprite.png';
$sprite-star: (208px, 250px, -208px, -250px, 30px, 29px, 346px, 346px, '../images/sprite.png', 'sprite-star', );
$sprite-tags-name: 'sprite-tags';
$sprite-tags-x: 289px;
$sprite-tags-y: 218px;
$sprite-tags-offset-x: -289px;
$sprite-tags-offset-y: -218px;
$sprite-tags-width: 30px;
$sprite-tags-height: 32px;
$sprite-tags-total-width: 346px;
$sprite-tags-total-height: 346px;
$sprite-tags-image: '../images/sprite.png';
$sprite-tags: (289px, 218px, -289px, -218px, 30px, 32px, 346px, 346px, '../images/sprite.png', 'sprite-tags', );
$sprite-telephone-1-name: 'sprite-telephone-1';
$sprite-telephone-1-x: 289px;
$sprite-telephone-1-y: 0px;
$sprite-telephone-1-offset-x: -289px;
$sprite-telephone-1-offset-y: 0px;
$sprite-telephone-1-width: 33px;
$sprite-telephone-1-height: 45px;
$sprite-telephone-1-total-width: 346px;
$sprite-telephone-1-total-height: 346px;
$sprite-telephone-1-image: '../images/sprite.png';
$sprite-telephone-1: (289px, 0px, -289px, 0px, 33px, 45px, 346px, 346px, '../images/sprite.png', 'sprite-telephone-1', );
$sprite-telephone-name: 'sprite-telephone';
$sprite-telephone-x: 322px;
$sprite-telephone-y: 133px;
$sprite-telephone-offset-x: -322px;
$sprite-telephone-offset-y: -133px;
$sprite-telephone-width: 21px;
$sprite-telephone-height: 29px;
$sprite-telephone-total-width: 346px;
$sprite-telephone-total-height: 346px;
$sprite-telephone-image: '../images/sprite.png';
$sprite-telephone: (322px, 133px, -322px, -133px, 21px, 29px, 346px, 346px, '../images/sprite.png', 'sprite-telephone', );
$sprite-three-lines-name: 'sprite-three-lines';
$sprite-three-lines-x: 0px;
$sprite-three-lines-y: 250px;
$sprite-three-lines-offset-x: 0px;
$sprite-three-lines-offset-y: -250px;
$sprite-three-lines-width: 40px;
$sprite-three-lines-height: 34px;
$sprite-three-lines-total-width: 346px;
$sprite-three-lines-total-height: 346px;
$sprite-three-lines-image: '../images/sprite.png';
$sprite-three-lines: (0px, 250px, 0px, -250px, 40px, 34px, 346px, 346px, '../images/sprite.png', 'sprite-three-lines', );
$sprite-tick-name: 'sprite-tick';
$sprite-tick-x: 179px;
$sprite-tick-y: 207px;
$sprite-tick-offset-x: -179px;
$sprite-tick-offset-y: -207px;
$sprite-tick-width: 42px;
$sprite-tick-height: 29px;
$sprite-tick-total-width: 346px;
$sprite-tick-total-height: 346px;
$sprite-tick-image: '../images/sprite.png';
$sprite-tick: (179px, 207px, -179px, -207px, 42px, 29px, 346px, 346px, '../images/sprite.png', 'sprite-tick', );
$sprite-tools-name: 'sprite-tools';
$sprite-tools-x: 178px;
$sprite-tools-y: 250px;
$sprite-tools-offset-x: -178px;
$sprite-tools-offset-y: -250px;
$sprite-tools-width: 30px;
$sprite-tools-height: 29px;
$sprite-tools-total-width: 346px;
$sprite-tools-total-height: 346px;
$sprite-tools-image: '../images/sprite.png';
$sprite-tools: (178px, 250px, -178px, -250px, 30px, 29px, 346px, 346px, '../images/sprite.png', 'sprite-tools', );
$sprite-top-gray-1-name: 'sprite-top-gray-1';
$sprite-top-gray-1-x: 177px;
$sprite-top-gray-1-y: 284px;
$sprite-top-gray-1-offset-x: -177px;
$sprite-top-gray-1-offset-y: -284px;
$sprite-top-gray-1-width: 30px;
$sprite-top-gray-1-height: 18px;
$sprite-top-gray-1-total-width: 346px;
$sprite-top-gray-1-total-height: 346px;
$sprite-top-gray-1-image: '../images/sprite.png';
$sprite-top-gray-1: (177px, 284px, -177px, -284px, 30px, 18px, 346px, 346px, '../images/sprite.png', 'sprite-top-gray-1', );
$sprite-tw-1-name: 'sprite-tw-1';
$sprite-tw-1-x: 116px;
$sprite-tw-1-y: 179px;
$sprite-tw-1-offset-x: -116px;
$sprite-tw-1-offset-y: -179px;
$sprite-tw-1-width: 32px;
$sprite-tw-1-height: 26px;
$sprite-tw-1-total-width: 346px;
$sprite-tw-1-total-height: 346px;
$sprite-tw-1-image: '../images/sprite.png';
$sprite-tw-1: (116px, 179px, -116px, -179px, 32px, 26px, 346px, 346px, '../images/sprite.png', 'sprite-tw-1', );
$sprite-umbrella-name: 'sprite-umbrella';
$sprite-umbrella-x: 289px;
$sprite-umbrella-y: 152px;
$sprite-umbrella-offset-x: -289px;
$sprite-umbrella-offset-y: -152px;
$sprite-umbrella-width: 30px;
$sprite-umbrella-height: 33px;
$sprite-umbrella-total-width: 346px;
$sprite-umbrella-total-height: 346px;
$sprite-umbrella-image: '../images/sprite.png';
$sprite-umbrella: (289px, 152px, -289px, -152px, 30px, 33px, 346px, 346px, '../images/sprite.png', 'sprite-umbrella', );
$sprite-user-name: 'sprite-user';
$sprite-user-x: 222px;
$sprite-user-y: 41px;
$sprite-user-offset-x: -222px;
$sprite-user-offset-y: -41px;
$sprite-user-width: 51px;
$sprite-user-height: 49px;
$sprite-user-total-width: 346px;
$sprite-user-total-height: 346px;
$sprite-user-image: '../images/sprite.png';
$sprite-user: (222px, 41px, -222px, -41px, 51px, 49px, 346px, 346px, '../images/sprite.png', 'sprite-user', );
$sprite-visa-name: 'sprite-visa';
$sprite-visa-x: 116px;
$sprite-visa-y: 149px;
$sprite-visa-offset-x: -116px;
$sprite-visa-offset-y: -149px;
$sprite-visa-width: 99px;
$sprite-visa-height: 30px;
$sprite-visa-total-width: 346px;
$sprite-visa-total-height: 346px;
$sprite-visa-image: '../images/sprite.png';
$sprite-visa: (116px, 149px, -116px, -149px, 99px, 30px, 346px, 346px, '../images/sprite.png', 'sprite-visa', );
$sprite-vk-1-name: 'sprite-vk-1';
$sprite-vk-1-x: 143px;
$sprite-vk-1-y: 284px;
$sprite-vk-1-offset-x: -143px;
$sprite-vk-1-offset-y: -284px;
$sprite-vk-1-width: 34px;
$sprite-vk-1-height: 19px;
$sprite-vk-1-total-width: 346px;
$sprite-vk-1-total-height: 346px;
$sprite-vk-1-image: '../images/sprite.png';
$sprite-vk-1: (143px, 284px, -143px, -284px, 34px, 19px, 346px, 346px, '../images/sprite.png', 'sprite-vk-1', );
$sprite-vk-name: 'sprite-vk';
$sprite-vk-x: 90px;
$sprite-vk-y: 238px;
$sprite-vk-offset-x: -90px;
$sprite-vk-offset-y: -238px;
$sprite-vk-width: 19px;
$sprite-vk-height: 12px;
$sprite-vk-total-width: 346px;
$sprite-vk-total-height: 346px;
$sprite-vk-image: '../images/sprite.png';
$sprite-vk: (90px, 238px, -90px, -238px, 19px, 12px, 346px, 346px, '../images/sprite.png', 'sprite-vk', );
$sprite-warning-name: 'sprite-warning';
$sprite-warning-x: 268px;
$sprite-warning-y: 90px;
$sprite-warning-offset-x: -268px;
$sprite-warning-offset-y: -90px;
$sprite-warning-width: 20px;
$sprite-warning-height: 20px;
$sprite-warning-total-width: 346px;
$sprite-warning-total-height: 346px;
$sprite-warning-image: '../images/sprite.png';
$sprite-warning: (268px, 90px, -268px, -90px, 20px, 20px, 346px, 346px, '../images/sprite.png', 'sprite-warning', );
$sprite-yd-1-name: 'sprite-yd-1';
$sprite-yd-1-x: 267px;
$sprite-yd-1-y: 176px;
$sprite-yd-1-offset-x: -267px;
$sprite-yd-1-offset-y: -176px;
$sprite-yd-1-width: 13px;
$sprite-yd-1-height: 26px;
$sprite-yd-1-total-width: 346px;
$sprite-yd-1-total-height: 346px;
$sprite-yd-1-image: '../images/sprite.png';
$sprite-yd-1: (267px, 176px, -267px, -176px, 13px, 26px, 346px, 346px, '../images/sprite.png', 'sprite-yd-1', );
$sprite-youtube-name: 'sprite-youtube';
$sprite-youtube-x: 268px;
$sprite-youtube-y: 110px;
$sprite-youtube-offset-x: -268px;
$sprite-youtube-offset-y: -110px;
$sprite-youtube-width: 19px;
$sprite-youtube-height: 17px;
$sprite-youtube-total-width: 346px;
$sprite-youtube-total-height: 346px;
$sprite-youtube-image: '../images/sprite.png';
$sprite-youtube: (268px, 110px, -268px, -110px, 19px, 17px, 346px, 346px, '../images/sprite.png', 'sprite-youtube', );
$spritesheet-width: 346px;
$spritesheet-height: 346px;
$spritesheet-image: '../images/sprite.png';
$spritesheet-sprites: ($sprite-alarm-1, $sprite-alarm-xs, $sprite-alarm, $sprite-alarm1, $sprite-arr-bottom1, $sprite-arr-right1, $sprite-basket, $sprite-bottom-gray-1, $sprite-box-open, $sprite-caret, $sprite-check-a, $sprite-close, $sprite-credit-card-1, $sprite-credit-card, $sprite-equalizer-gray, $sprite-equalizer, $sprite-f, $sprite-fb-1, $sprite-four-lines, $sprite-gg-1, $sprite-globe-sm, $sprite-globe, $sprite-grid-2, $sprite-in, $sprite-left-gray-1, $sprite-left, $sprite-list-arr, $sprite-list-custom, $sprite-logo, $sprite-m-book, $sprite-m-box-open, $sprite-m-car, $sprite-m-mail, $sprite-m-shop, $sprite-m-tags-gray, $sprite-m-tags, $sprite-m-tools, $sprite-m-umbrella, $sprite-magnifying-glass-3, $sprite-mail-1, $sprite-mail-blue, $sprite-mastercard, $sprite-ok-1, $sprite-ok, $sprite-phone-blue, $sprite-phone-sm-blue, $sprite-phone-xs, $sprite-phone, $sprite-pin-1-xs, $sprite-pin-1, $sprite-right-gray-1, $sprite-right-gray, $sprite-right, $sprite-rounded-rectangle-2, $sprite-search-sm, $sprite-search, $sprite-shop-, $sprite-shop-1, $sprite-star-h, $sprite-star, $sprite-tags, $sprite-telephone-1, $sprite-telephone, $sprite-three-lines, $sprite-tick, $sprite-tools, $sprite-top-gray-1, $sprite-tw-1, $sprite-umbrella, $sprite-user, $sprite-visa, $sprite-vk-1, $sprite-vk, $sprite-warning, $sprite-yd-1, $sprite-youtube, );
$spritesheet: (346px, 346px, '../images/sprite.png', $spritesheet-sprites, );

/*
The provided mixins are intended to be used with the array-like variables

.icon-home {
  @include sprite-width($icon-home);
}

.icon-email {
  @include sprite($icon-email);
}
*/
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

/*
The `sprites` mixin generates identical output to the CSS template
  but can be overridden inside of SCSS

@include sprites($spritesheet-sprites);
*/
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
