// variables

$font-size: 25px;
$color-blue: #05a6f2;
$hover-color: #0096e2;
$page-padding: 0 16px;
$text-color: #908f8f;
$title-color: #010101;

$page-footer-top: 58px;
$b-footer-nav: 88px;

$header-menu-height: 88px;

$border-color: #e5e3e3;
$border: 1px solid $border-color;

$title-size: $font-size * 1.5;